################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WpfApp
/KelpNet/KelpNet.CL.Common/bin
/KelpNet/KelpNet.CL.Common/obj
/KelpNet/KelpNet.CL.Function.Double/bin
/KelpNet/KelpNet.CL.Function.Double/obj
/KelpNet/KelpNet.CL.Function/bin
/KelpNet/KelpNet.CL.Function/obj
/KelpNet/KelpNet.Common/bin
/KelpNet/KelpNet.Common/obj
/KelpNet/KelpNet.Function.Double/bin
/KelpNet/KelpNet.Function.Double/obj
/KelpNet/KelpNet.Function/bin
/KelpNet/KelpNet.Function/obj
/KelpNet/KelpNet.Sample/bin
/KelpNet/KelpNet.Sample/obj
/KelpNet/KelpNet.Tools.Double/bin
/KelpNet/KelpNet.Tools.Double/obj
/KelpNet/KelpNet.Tools/bin
/KelpNet/KelpNet.Tools/obj
/WpfApp/bin
/WpfApp/obj
/WpfLib/bin
/WpfLib/obj
/WpfLibPlayer/bin
/WpfLibPlayer/obj
/WpfLibPlayerV1/bin
/WpfLibPlayerV1/obj
/packages
